@font-face
{
font-family: 'Mpluscode-50';
font-weight: 100;
src: url('Mpluscode-Thin-50.eot?') format('eot'),
     url('Mpluscode-Thin-50.woff2') format('woff2'),
     url('Mpluscode-Thin-50.woff') format('woff');
}

@font-face
{
font-family: 'Mpluscode-50';
font-weight: 300;
src: url('Mpluscode-Light-50.eot?') format('eot'),
     url('Mpluscode-Light-50.woff2') format('woff2'),
     url('Mpluscode-Light-50.woff') format('woff');
}

@font-face
{
font-family: 'Mpluscode-50';
font-weight: 400;
src: url('Mpluscode-Regular-50.eot?') format('eot'),
     url('Mpluscode-Regular-50.woff2') format('woff2'),
     url('Mpluscode-Regular-50.woff') format('woff');
}

@font-face
{
font-family: 'Mpluscode-50';
font-weight: 500;
src: url('Mpluscode-Medium-50.eot?') format('eot'),
     url('Mpluscode-Medium-50.woff2') format('woff2'),
     url('Mpluscode-Medium-50.woff') format('woff');
}

@font-face
{
font-family: 'Mpluscode-50';
font-weight: 700;
src: url('Mpluscode-Bold-50.eot?') format('eot'),
     url('Mpluscode-Bold-50.woff2') format('woff2'),
     url('Mpluscode-Bold-50.woff') format('woff');
}

@font-face
{
font-family: 'Mpluscode-60';
font-weight: 100;
src: url('Mpluscode-Thin-60.eot?') format('eot'),
     url('Mpluscode-Thin-60.woff2') format('woff2'),
     url('Mpluscode-Thin-60.woff') format('woff');
}

@font-face
{
font-family: 'Mpluscode-60';
font-weight: 300;
src: url('Mpluscode-Light-60.eot?') format('eot'),
     url('Mpluscode-Light-60.woff2') format('woff2'),
     url('Mpluscode-Light-60.woff') format('woff');
}

@font-face
{
font-family: 'Mpluscode-60';
font-weight: 400;
src: url('Mpluscode-Regular-60.eot?') format('eot'),
     url('Mpluscode-Regular-60.woff2') format('woff2'),
     url('Mpluscode-Regular-60.woff') format('woff');
}

@font-face
{
font-family: 'Mpluscode-60';
font-weight: 500;
src: url('Mpluscode-Medium-60.eot?') format('eot'),
     url('Mpluscode-Medium-60.woff2') format('woff2'),
     url('Mpluscode-Medium-60.woff') format('woff');
}

@font-face
{
font-family: 'Mpluscode-60';
font-weight: 700;
src: url('Mpluscode-Bold-60.eot?') format('eot'),
     url('Mpluscode-Bold-60.woff2') format('woff2'),
     url('Mpluscode-Bold-60.woff') format('woff');
}
