@font-face
{
font-family: 'Mplus1p';
font-weight: 100;
src: url('Mplus1p-Thin.eot?') format('eot'),
     url('Mplus1p-Thin.woff2') format('woff2'),
     url('Mplus1p-Thin.woff') format('woff');
}

@font-face
{
font-family: 'Mplus1p';
font-weight: 300;
src: url('Mplus1p-Light.eot?') format('eot'),
     url('Mplus1p-Light.woff2') format('woff2'),
     url('Mplus1p-Light.woff') format('woff');
}

@font-face
{
font-family: 'Mplus1p';
font-weight: 400;
src: url('Mplus1p-Regular.eot?') format('eot'),
     url('Mplus1p-Regular.woff2') format('woff2'),
     url('Mplus1p-Regular.woff') format('woff');
}

@font-face
{
font-family: 'Mplus1p';
font-weight: 500;
src: url('Mplus1p-Medium.eot?') format('eot'),
     url('Mplus1p-Medium.woff2') format('woff2'),
     url('Mplus1p-Medium.woff') format('woff');
}

@font-face
{
font-family: 'Mplus1p';
font-weight: 700;
src: url('Mplus1p-Bold.eot?') format('eot'),
     url('Mplus1p-Bold.woff2') format('woff2'),
     url('Mplus1p-Bold.woff') format('woff');
}

@font-face
{
font-family: 'Mplus1p';
font-weight: 800;
src: url('Mplus1p-ExtraBold.eot?') format('eot'),
     url('Mplus1p-ExtraBold.woff2') format('woff2'),
     url('Mplus1p-ExtraBold.woff') format('woff');
}

@font-face
{
font-family: 'Mplus1p';
font-weight: 900;
src: url('Mplus1p-Black.eot?') format('eot'),
     url('Mplus1p-Black.woff2') format('woff2'),
     url('Mplus1p-Black.woff') format('woff');
}
