@font-face
{
font-family: 'Mplus1';
font-weight: 100;
src: url('Mplus1-Thin.eot?') format('eot'),
     url('Mplus1-Thin.woff2') format('woff2'),
     url('Mplus1-Thin.woff') format('woff');
}

@font-face
{
font-family: 'Mplus1';
font-weight: 300;
src: url('Mplus1-Light.eot?') format('eot'),
     url('Mplus1-Light.woff2') format('woff2'),
     url('Mplus1-Light.woff') format('woff');
}

@font-face
{
font-family: 'Mplus1';
font-weight: 400;
src: url('Mplus1-Regular.eot?') format('eot'),
     url('Mplus1-Regular.woff2') format('woff2'),
     url('Mplus1-Regular.woff') format('woff');
}

@font-face
{
font-family: 'Mplus1';
font-weight: 500;
src: url('Mplus1-Medium.eot?') format('eot'),
     url('Mplus1-Medium.woff2') format('woff2'),
     url('Mplus1-Medium.woff') format('woff');
}

@font-face
{
font-family: 'Mplus1';
font-weight: 700;
src: url('Mplus1-Bold.eot?') format('eot'),
     url('Mplus1-Bold.woff2') format('woff2'),
     url('Mplus1-Bold.woff') format('woff');
}

@font-face
{
font-family: 'Mplus1';
font-weight: 800;
src: url('Mplus1-ExtraBold.eot?') format('eot'),
     url('Mplus1-ExtraBold.woff2') format('woff2'),
     url('Mplus1-ExtraBold.woff') format('woff');
}

@font-face
{
font-family: 'Mplus1';
font-weight: 900;
src: url('Mplus1-Black.eot?') format('eot'),
     url('Mplus1-Black.woff2') format('woff2'),
     url('Mplus1-Black.woff') format('woff');
}
