@font-face
{
font-family: 'Mplus Thin';
url('Mplus-Thin.woff') format('woff');
}

@font-face
{
font-family: 'Mplus Light';
url('Mplus-Light.woff') format('woff');
}

@font-face
{
font-family: 'Mplus Regular';
url('Mplus-Regular.woff') format('woff');
}

@font-face
{
font-family: 'Mplus Medium';
url('Mplus-Medium.woff') format('woff');
}

@font-face
{
font-family: 'Mplus Bold';
url('Mplus-Bold.woff') format('woff');
}

@font-face
{
font-family: 'Mplus ExtraBold';
url('Mplus-ExtraBold.woff') format('woff');
}

@font-face
{
font-family: 'Mplus Black';
url('Mplus-Black.woff') format('woff');
}
